In [36]:
import pandas as pd
import numpy as np

In [101]:
import unicodedata
def strip_accents(s):
   return ''.join(c for c in unicodedata.normalize('NFD', s)
                  if unicodedata.category(c) != 'Mn')

In [4]:
data = pd.read_excel("25_mayo.xlsx")

In [20]:
data  = data[data.columns[0:45]]

In [22]:
data.columns

Index(['ID', 'Ciudad', 'Mes', 'Fecha', 'Hora', 'Longitud', 'Latitud', 'Calle',
       'Cruce', 'Sentido', 'V1_Tipo de Vehículo', 'V1_Estatus Licencia',
       'V1_Género', 'V1_Dictamen', 'V1_Edad', 'V1_Uso de Cinturón',
       'V1_Arresto', 'V1_No. De Lesionados', 'V1_No. De Fallecidos',
       'V2_Tipo de Vehículo', 'V2_Estatus Licencia', 'V2_Género',
       'V2_Dictamen', 'V2_Edad', 'V2_Uso de Cinturón', 'V2_Arresto',
       'V2_No. De Lesionados', 'V2_No. De Fallecidos', 'V3_Tipo de Vehículo',
       'V3_Estatus Licencia', 'V3_Género', 'V3_Dictamen', 'V3_Edad',
       'V3_Uso de Cinturón', 'V3_Arresto', 'V3_No. De Lesionados',
       'V3_No. De Fallecidos', 'Tipo de incidente', 'No. De Infracción',
       'Causa', 'Situación climática', 'Situación del Pavimento',
       'Tipo de vía', 'Número  total de lesionados',
       'Número total de muertos'],
      dtype='object')

In [54]:
data["Mes"] = data["Mes"].str.lower()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [56]:
data["Mes"].value_counts()

marzo        6148
febrero      5507
abril        5114
noviembre    3148
diciembre    3061
enero        2273
arbil           1
mayo            1
Name: Mes, dtype: int64

In [129]:
data["Ciudad"] = data["Ciudad"].str.lower()
data["Ciudad"] = data["Ciudad"].str.strip()
data["Ciudad"] = data["Ciudad"].map(lambda x: strip_accents(str(x)))
data["Ciudad"].value_counts()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

monterrey         6751
san pedro         4348
san nicolas       4123
apodaca           2328
santa catarina    2052
escobedo          1926
garcia            1890
guadalupe         1834
nan                  3
                     1
Name: Ciudad, dtype: int64

In [130]:
for i in range(0,len(data["Fecha"]), 100):
    print(data["Fecha"][i])
    print(i)

2016-11-01 00:00:00
0
2016-11-07 00:00:00
100
2016-11-11 00:00:00
200
2016-11-20 00:00:00
300
2016-11-28 00:00:00
400
2016-12-05 00:00:00
500
2016-12-10 00:00:00
600
2016-12-17 00:00:00
700
2016-12-24 00:00:00
800
2017-01-05 00:00:00
900
2017-01-11 00:00:00
1000
2017-01-16 00:00:00
1100
2017-01-25 00:00:00
1200
2017-01-17 00:00:00
1300
2017-01-26 00:00:00
1400
42694
1500
42703
1600
42711
1700
42719
1800
42727
1900
42737
2000
42749
2100
42759
2200
2016-11-03 00:00:00
2300
2016-11-13 00:00:00
2400
2019-11-24 00:00:00
2500
2016-12-02 00:00:00
2600
2016-12-13 00:00:00
2700
2016-12-23 00:00:00
2800
2017-01-06 00:00:00
2900
2017-01-16 00:00:00
3000
2017-01-28 00:00:00
3100
2016-11-18 00:00:00
3200
2016-12-10 00:00:00
3300
2017-01-06 00:00:00
3400
2016-11-01 18:58:46
3500
2016-11-04 15:17:02
3600
2016-11-08 19:38:47
3700
2016-11-12 09:35:51
3800
2016-11-15 15:42:03
3900
2016-11-18 17:25:39
4000
2016-11-22 10:45:03
4100
2016-11-25 22:05:31
4200
2016-11-30 07:55:22
4300
2016-12-03 06:12:17
4400
2016-12-05 18:58:30
4500
2016-12-09 17:30:37
4600
2016-12-13 07:53:17
4700
2016-12-15 21:34:09
4800
2016-12-19 14:11:25
4900
2016-12-23 11:52:15
5000
2016-12-28 15:25:55
5100
2017-01-10 10:22:53
5200
2017-01-05 18:57:14
5300
2017-01-01 06:55:36
5400
2016-11-04 00:00:00
5500
2016-11-08 00:00:00
5600
2016-11-12 00:00:00
5700
2016-11-16 00:00:00
5800
2016-11-19 00:00:00
5900
2016-11-24 00:00:00
6000
2016-11-28 00:00:00
6100
2016-12-02 00:00:00
6200
2016-12-05 00:00:00
6300
2016-12-08 00:00:00
6400
2016-12-12 00:00:00
6500
2016-12-15 00:00:00
6600
2016-12-20 00:00:00
6700
2016-12-25 00:00:00
6800
2017-01-03 00:00:00
6900
2017-01-09 00:00:00
7000
2017-01-12 00:00:00
7100
2017-01-18 00:00:00
7200
2017-01-22 00:00:00
7300
2017-01-25 00:00:00
7400
2017-01-27 00:00:00
7500
2016-11-06 00:00:00
7600
2016-11-15 00:00:00
7700
2016-11-23 00:00:00
7800
2016-12-03 00:00:00
7900
2016-12-12 00:00:00
8000
2016-12-19 00:00:00
8100
2016-12-29 00:00:00
8200
2017-01-09 00:00:00
8300
2017-01-17 00:00:00
8400
2017-02-02 00:00:00
8500
2017-02-09 00:00:00
8600
2017-02-16 00:00:00
8700
2017-02-22 00:00:00
8800
2017-03-04 00:00:00
8900
2017-03-12 00:00:00
9000
2017-03-21 00:00:00
9100
2017-03-26 00:00:00
9200
2017-04-08 00:00:00
9300
2017-04-17 00:00:00
9400
2017-04-29 00:00:00
9500
2017-02-08 00:00:00
9600
2017-02-18 00:00:00
9700
2017-02-27 00:00:00
9800
2017-03-05 00:00:00
9900
2017-03-12 00:00:00
10000
2017-03-22 00:00:00
10100
2017-04-01 00:00:00
10200
2017-04-12 00:00:00
10300
2017-04-25 00:00:00
10400
2017-02-04 00:00:00
10500
2017-02-12 00:00:00
10600
2017-02-19 00:00:00
10700
2017-02-27 00:00:00
10800
2017-03-08 00:00:00
10900
2017-03-17 00:00:00
11000
2017-03-24 00:00:00
11100
2017-04-03 00:00:00
11200
2017-04-13 00:00:00
11300
2017-04-23 00:00:00
11400
2017-02-01 00:00:00
11500
2017-02-06 00:00:00
11600
2017-02-11 00:00:00
11700
2017-02-17 00:00:00
11800
2017-02-23 00:00:00
11900
2017-03-02 00:00:00
12000
2017-03-07 00:00:00
12100
2017-03-12 00:00:00
12200
2017-03-18 00:00:00
12300
2017-03-25 00:00:00
12400
2017-03-30 00:00:00
12500
2017-04-04 00:00:00
12600
2017-04-11 00:00:00
12700
2017-04-18 00:00:00
12800
2017-04-25 00:00:00
12900
2017-02-01 00:00:00
13000
2017-02-02 00:00:00
13100
2017-02-03 00:00:00
13200
2017-02-04 00:00:00
13300
2017-02-06 00:00:00
13400
2017-02-07 00:00:00
13500
2017-02-08 00:00:00
13600
2017-02-10 00:00:00
13700
2017-02-11 00:00:00
13800
2017-02-13 00:00:00
13900
2017-02-14 00:00:00
14000
2017-02-15 00:00:00
14100
2017-02-16 00:00:00
14200
2017-02-17 00:00:00
14300
2017-02-19 00:00:00
14400
2017-02-20 00:00:00
14500
2017-02-21 00:00:00
14600
2017-02-22 00:00:00
14700
2017-02-23 00:00:00
14800
2017-02-24 00:00:00
14900
2017-02-26 00:00:00
15000
2017-02-27 00:00:00
15100
2017-03-01 00:00:00
15200
2017-03-02 00:00:00
15300
2017-03-03 00:00:00
15400
2017-03-04 00:00:00
15500
2017-03-06 00:00:00
15600
2017-03-07 00:00:00
15700
2017-03-08 00:00:00
15800
2017-03-09 00:00:00
15900
2017-03-11 00:00:00
16000
2017-03-13 00:00:00
16100
2017-03-14 00:00:00
16200
2017-03-16 00:00:00
16300
2017-03-17 00:00:00
16400
2017-03-18 00:00:00
16500
2017-03-20 00:00:00
16600
2017-03-21 00:00:00
16700
2017-03-22 00:00:00
16800
2017-03-24 00:00:00
16900
2017-03-25 00:00:00
17000
2017-03-26 00:00:00
17100
2017-03-27 00:00:00
17200
2017-03-29 00:00:00
17300
2017-03-29 00:00:00
17400
2017-03-30 00:00:00
17500
2017-03-31 00:00:00
17600
2017-04-01 00:00:00
17700
2017-04-03 00:00:00
17800
2017-04-04 00:00:00
17900
2017-04-05 00:00:00
18000
2017-04-06 00:00:00
18100
2017-04-07 00:00:00
18200
2017-04-08 00:00:00
18300
2017-04-10 00:00:00
18400
2017-04-12 00:00:00
18500
2017-04-13 00:00:00
18600
2017-04-16 00:00:00
18700
2017-04-18 00:00:00
18800
2017-04-20 00:00:00
18900
2017-04-21 00:00:00
19000
2017-04-22 00:00:00
19100
2017-04-24 00:00:00
19200
2017-04-25 00:00:00
19300
2017-04-26 00:00:00
19400
2017-04-28 00:00:00
19500
2017-04-29 00:00:00
19600
2017-04-30 00:00:00
19700
2017-02-05 00:00:00
19800
2017-02-12 00:00:00
19900
2017-02-18 00:00:00
20000
2017-02-28 00:00:00
20100
2017-03-06 00:00:00
20200
2017-03-14 00:00:00
20300
2017-03-23 00:00:00
20400
2017-03-31 00:00:00
20500
2017-04-07 00:00:00
20600
2017-04-19 00:00:00
20700
2017-04-27 00:00:00
20800
2017-02-03 00:00:00
20900
2017-02-13 00:00:00
21000
2017-02-17 00:00:00
21100
2017-02-23 00:00:00
21200
2017-02-27 00:00:00
21300
2017-03-02 00:00:00
21400
2017-03-06 00:00:00
21500
2017-03-09 00:00:00
21600
2017-02-08 00:00:00
21700
2017-03-11 00:00:00
21800
2017-03-16 00:00:00
21900
2017-03-21 00:00:00
22000
2017-03-24 00:00:00
22100
2017-03-28 00:00:00
22200
2017-03-31 00:00:00
22300
2017-04-03 00:00:00
22400
2017-04-07 00:00:00
22500
2017-04-11 00:00:00
22600
2017-04-17 00:00:00
22700
2017-04-22 00:00:00
22800
2017-04-26 00:00:00
22900
2017-04-29 00:00:00
23000
2017-02-03 00:00:00
23100
2017-02-08 00:00:00
23200
2017-02-11 00:00:00
23300
2017-02-16 00:00:00
23400
2017-02-20 00:00:00
23500
2017-02-22 00:00:00
23600
2017-02-25 00:00:00
23700
2017-02-28 00:00:00
23800
2017-03-04 00:00:00
23900
2017-03-08 00:00:00
24000
2017-03-11 00:00:00
24100
2017-03-16 00:00:00
24200
2017-03-20 00:00:00
24300
2017-03-23 00:00:00
24400
2017-03-28 00:00:00
24500
2017-03-31 00:00:00
24600
2017-04-03 00:00:00
24700
2017-04-06 00:00:00
24800
2017-04-13 00:00:00
24900
2017-04-20 00:00:00
25000
2017-04-25 00:00:00
25100
2017-04-28 00:00:00
25200

In [131]:
import pickle

In [132]:
pickle.dump(data, open("data.pickle","wb"))

In [133]:
percances = []
for ciudad in data["Ciudad"].unique():
    ciudad_obj = {"Ciudad":ciudad}
    data_ciudad = data[data["Ciudad"] == ciudad]
    counts_ciudad = data_ciudad["Mes"].value_counts()
    for mes in counts_ciudad.keys():
        ciudad_obj[mes] = counts_ciudad[mes]
    percances.append(ciudad_obj)

In [134]:
percances_df = pd.DataFrame(percances)

In [110]:
data["Número  total de lesionados"].value_counts()

0.0     14554
1.0       746
2.0       128
3.0        36
4.0        28
5.0        11
7.0         3
21.0        2
10.0        2
9.0         2
6.0         2
8.0         1
Name: Número  total de lesionados, dtype: int64

In [111]:
data["Número total de muertos"].value_counts()

0.0    15370
1.0       35
2.0        2
4.0        1
Name: Número total de muertos, dtype: int64

In [112]:
data["Número  total de lesionados"].sum()

1398.0

In [113]:
data["Número total de muertos"].sum()

43.0

In [114]:
muertes = []
for ciudad in data["Ciudad"].unique():
    ciudad_obj = {"Ciudad":ciudad}
    data_ciudad = data[data["Ciudad"] == ciudad]
    counts_ciudad = data_ciudad["Mes"].value_counts()
    for mes in counts_ciudad.keys():
        ciudad_obj[mes] = data_ciudad[data_ciudad["Mes"]==mes]["Número total de muertos"].sum()
    muertes.append(ciudad_obj)

In [115]:
lesionados = []
for ciudad in data["Ciudad"].unique():
    ciudad_obj = {"Ciudad":ciudad}
    data_ciudad = data[data["Ciudad"] == ciudad]
    counts_ciudad = data_ciudad["Mes"].value_counts()
    for mes in counts_ciudad.keys():
        ciudad_obj[mes] = data_ciudad[data_ciudad["Mes"]==mes]["Número  total de lesionados"].sum()
    lesionados.append(ciudad_obj)

In [116]:
lesionados_df = pd.DataFrame(lesionados)

In [117]:
muertes_df = pd.DataFrame(muertes)

In [127]:
np.sum(muertes_df)

Ciudad       apodacaescobedogarciaguadalupesan nicolassan p...
abril                                                       12
arbil                                                     None
diciembre                                                    5
enero                                                        2
febrero                                                      8
marzo                                                       14
mayo                                                         0
noviembre                                                    2
dtype: object

In [119]:
len(data)

25256

In [136]:
percances_df

,Ciudad,abril,arbil,diciembre,enero,febrero,marzo,mayo,noviembre
0,apodaca,305.0,NaN,433.0,415.0,388.0,348.0,NaN,439.0
1,escobedo,266.0,NaN,358.0,307.0,300.0,367.0,NaN,328.0
2,garcia,315.0,NaN,280.0,272.0,357.0,359.0,1.0,306.0
3,guadalupe,455.0,NaN,125.0,89.0,493.0,553.0,NaN,119.0
4,san nicolas,702.0,1.0,800.0,270.0,648.0,835.0,NaN,867.0
5,san pedro,618.0,NaN,707.0,668.0,767.0,831.0,NaN,757.0
6,santa catarina,344.0,NaN,358.0,252.0,370.0,396.0,NaN,332.0
7,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,monterrey,2108.0,NaN,NaN,NaN,2184.0,2459.0,NaN,NaN
9,,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN